* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body,
html {
    scroll-behavior: smooth;
    background-color: #f2f2f2;
}

header {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: blue;
    font-family: serif;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav ul li a {
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    transition: all .2s ease;
    border-radius: 10px;
}

header nav ul li a:hover {
    background-color: #f1f1f1;
}

header nav ul li a:focus {
    background-color: #f1f1f1;
}

header .btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 10px;
    transition: all .2s ease;
}

header .btn:hover {
    background-color: #333333d6;
}

header .btn:focus {
    background-color: #333333d6;
}



/* Hero Section */
.hero {
    background-color: #007BFF; /* blue background */
    color: white;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    border-radius: 10px;
    margin: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero .hero-btn {
    padding: 12px 25px;
    background-color: #ffffff;
    color: #007BFF;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.hero .hero-btn:hover {
    background-color: #e6e6e6;
}
