* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body,
html {
    scroll-behavior: smooth;
    background-color: #f2f2f2 !important;
}

header {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: blue;
    font-family: serif;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav ul li a {
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    transition: all .2s ease;
    border-radius: 10px;
}

header nav ul li a:hover {
    background-color: #f1f1f1;
}

header nav ul li a:focus {
    background-color: #f1f1f1;
}

header .btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 10px;
    transition: all .2s ease;
}

header .btn:hover {
    background-color: #333333d6;
}

header .btn:focus {
    background-color: #333333d6;
}



/* Hero Section */
.hero {
    padding: 30px;
}

.hero .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.hero .content .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero .content .text h1 {
    font-size: clamp(38px, 5vw, 60px);
    font-weight: 700;
    font-family: serif;
    line-height: 1.6;
    margin-bottom: 12px;
}

.hero .content .text h2 {
    font-size: clamp(20px, 4vw, 38px);
    font-weight: 700;
    font-family: serif;
    line-height: 1;
    margin-bottom: 18px;
}

.hero .content .text p {
    font-weight: 500;
    line-height: 1.6;
    font-family: sans-serif;
    font-size: clamp(16px, 2.5vw, 18px);
    max-width: 700px;
    margin-bottom: 30px;
}


.hero .content .text .cta_btn {
    display: flex;
    align-items: center;
    gap: 20px;
}


.hero .content .text .cta_btn  button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid blue;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: sans-serif;
    transition: all .2s ease;
}
.hero .content .text .cta_btn  button:hover {
    border: 2px solid rgb(0, 170, 255);
}

.hero .content .text .cta_btn  button:nth-child(1) {
    background-color: blue;
    color: white;
    cursor: ;
    transition: all .3s ease;
}

.hero .content .text .cta_btn  button:nth-child(1):hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
}


.hero .content .image {
    width: 80%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(to right bottom, rgb(67, 67, 67), rgb(10, 10, 10));
}

.hero .content .image img {
    width: 100%;
    height: 100%;
    object-fit: cover
    object-position: center;
}